.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); /* Ajusta la altura menos el toolbar */
  background-color: #f5f5f5;
}

.spacer {
  flex: 1 1 auto;
}

.welcome-card {
  max-width: 40%;
  text-align: center;
}

.background-image {
  width: 100%;
  border-radius: 8px;
}

mat-card-header {
  display: flex;
  height: 100px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: center; /* Espacio horizontal entre los elementos */
  align-items: center; /* Alineación vertical de los elementos */
  gap: 20px;
}

mat-card-actions {
  height: 100px;
  display: flex;
  justify-content: center;
}
