<div class="content">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>¡Bienvenido/a!</mat-card-title>
      <mat-card-subtitle>Has iniciado sesión exitosamente.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img
        src="https://cdn.pixabay.com/photo/2016/06/26/01/47/castle-1479795_1280.jpg"
        alt="Imagen de bienvenida"
        class="background-image"
      />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="salir()">
        Cerrar Sesión
      </button>
    </mat-card-actions>
  </mat-card>
</div>
